fastapi
uvicorn
pymysql
sqlalchemy
aiomysql
python-dotenv
openai
httpx
cryptography
pytz
pandas
yt-dlp
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128 など、torchはnvidia-smiで確認したCUDAのバージョンに合わせてインストール
transformers
pyannote.audio
ffmpeg-python
python-multipart
